{{- if .Values.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "e10s-engine-sync.fullname" . }}
  labels:
    {{- include "e10s-engine-sync.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "e10s-engine-sync.selectorLabels" . | nindent 4 }}
{{- end }}

